{% extends 'main/base.html' %}
{% load static %}

{% block title %} Create New Post {% endblock %}

<!-- Page Content -->
{% block content %}

<h1>
    Create Post
</h1>

<div class="row">
    <div class="col-6">
        <form class="d-flex flex-column gap-2" action="{% url 'posts:create_post_view' %}" method="post">

            {% csrf_token %}

            <input type="text" placeholder="Title" name="title" class="form-control" />
            <textarea placeholder="Content" name="content" class="form-control"></textarea>

            <select name="" class="form-select" name="is_published">
                    <option selected> Rating </option>
                    <option value= "True"> Yes </option>
                    <option value="False" > No </option>
            </select>              

          

            <input type="date" name="published_at" class="form-control"/>

            <input type="submit" value="Create Post" class="btn btn-primary"/>

        </form>
    </div>
</div>

{% endblock %}